.custom-style .video-js .vjs-big-play-button {
  background: #0ad418 !important;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 45px;
  border-radius: 12px;
  border: white solid 1px;
  margin-left: -1.5em;
  margin-top: -1em;
}

.custom-style {
  position: relative;
}

.custom-style .video-js {
  max-height: 50vh !important;
}

.player-container {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 12px 12px;
}
.video-play {
  width: 100%;
  height: 100%;
  background: black;
  border-radius: 10px 10px;
}

.color-bard {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.marker {
  width: 1px;
  height: 4px;
  background: yellow;
  position: absolute;
  top: 0;
  z-index: 99999;
}

.pivotS {
  width: 2px;
  height: 10px;
  background: blue;
  position: absolute;
  top: -3px;
  z-index: 3;
}

.pivotE {
  width: 2px;
  height: 10px;
  background: red;
  position: absolute;
  top: -3px;
  z-index: 3;
}

.container-video {
  margin: 0;
  padding: 20px 0;
  background-color: transparent;
  place-items: center;
  font-family: 'Roboto', sans-serif;
}

.ads-container {
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.ads-content {
  width: 100%;
  height: 100%;
  position: absolute;
}

.buy-now {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3em;
  backface-visibility: hidden;
  transform: translate(-50%, -50%) translateZ(0px) scale(1, 1);
  background-image: url(https://static2.vieon.vn/ai-storage/ai_vlz/GeneralImage/shopping.svg);
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 0;
  transition: all 300ms ease 0s;

  &:hover {
    position: absolute;
    background-image: url(https://static2.vieon.vn/ai-storage/ai_vlz/GeneralImage/shopping-show.svg);
    height: 60px;
    width: 60px;
    visibility: hidden;
  }
}

.name-shop-vertical {
  position: absolute;
  background-color: white;
  color: $color-error;
  font-weight: bold;
  top: 0;
  width: 100%;
  padding: 2px 2px;
  font-size: 9px;
  left: 0;
}

.name-shop-horizontal {
  height: 100%;
  position: absolute;
  background-color: white;
  color:$color-error;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-weight: bold;
  padding: 2px 2px;
  font-size: 9px;
}

.buy-now.show {
  visibility: visible;
  transition: opacity 300ms ease-out 0s, width 300ms ease 0s,
  height 300ms ease 0s, background-color 300ms ease 0s, border 300ms ease 0s,
  border-radius 300ms ease 0s, box-shadow 300ms ease 0s,
  visibility 300ms ease 0s;
}

.moving {
  cursor: pointer;
  position: absolute;
  color: white;
  pointer-events: all;
  display: block;
  z-index: 3;
}

.line-b-l {
  position: absolute;
  border-right: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  transform: rotateX(180deg) skewX(45deg);

  span {
    transform: inherit;
    position: absolute;
    font-size: 13px;
    font-weight: bold;
  }
}

.line-t-l {
  position: absolute;
  transform: skewX(45deg);
  border-right: 1px solid #ffffff;
  border-top: 1px solid #ffffff;

  span {
    transform: skewX(-45deg);
    position: absolute;
    font-size: 13px;
    font-weight: bold;
  }
}

.line-t-r {
  transform: skewX(-45deg);
  position: absolute;
  border-left: 1px solid #ffffff;
  border-top: 1px solid #ffffff;

  span {
    transform: skewX(45deg);
    left: 26px;
    position: absolute;
    font-size: 13px;
    font-weight: bold;
  }
}

.line-b-r {
  transform: rotateY(180deg) rotateX(180deg) skewX(45deg);
  position: absolute;
  border-right: 1px solid #ffffff;
  border-top: 1px solid #ffffff;

  span {
    transform: skewX(-45deg) rotateY(-180deg) rotateX(-180deg);
    position: absolute;
    right: 26px;
    font-size: 13px;
    font-weight: bold;
  }
}

.info-shop {
  color: white;
}


@keyframes pulse {
  from {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
  }
  25% {
    width: 25%;
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}